{% block tab_content %}
    <h2>Hotel List</h2>
    <form class="form-inline mb-3" method="post" action="{{ url_for('hotel') }}">
        <input type="text" class="form-control mr-2" placeholder="Search Hotel" name="hotel_name">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% for hotel in hotels %}
        <div class="card mb-3">
            <img src="{{ hotel.image_url }}" class="card-img-top" alt="Hotel Image">
            <div class="card-body">
                <h5 class="card-title">{{ hotel.name }}</h5>
                <p class="card-text">{{ hotel.location }}</p>
                <p class="card-text">{{ hotel.description }}</p>
                <form action="{{ url_for('hotel') }}" method="post">
                    <input type="hidden" name="hotel_id" value="{{ hotel.id }}">
                    <input type="hidden" name="hotel_name" value="{{ hotel.name }}">
                    <button type="submit" class="btn btn-primary">
                        {% if hotel.id in user_hotel_ids %}
                            In List
                        {% else %}
                            Add
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}
